{% extends 'base.html.twig' %}

{% block title %}Hello GestionController!{% endblock %}

{% block body %}


<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="{{ path('app_gestion_events') }}">Events</a>
</div>
{% endblock %}
